<div class="profile-card-body">
  <img class="avatar-large avatar-profile" src=" <%= cl_image_path current_user.profile.photo %> " >
  <div class="profile-info">
    <h3><%= current_user.profile.first_name %> <%= current_user.profile.last_name %></h3>
    <p><%= current_user.profile.user.email %></p>
    <p><%= current_user.profile.birth_date %></p>
    <p><%= current_user.profile.gender %></p>

    <button type="button" class="btn btn-outline-secondary">Edit your info</button>
  </div>
</div>



